---
layout: page
title: 'Tag Index'
---

{%- capture site_tags -%}
    {%- for tag in site.tags -%}
        {{- tag | first -}}{%- unless forloop.last -%},{%- endunless -%}
    {%- endfor -%}
{%- endcapture -%}
{%- assign tags_list = site_tags | split:',' | sort -%}

<div class="tag-index">
  <ul>
    {% for item in (0..site.tags.size) %}
    {% unless forloop.last %}
      {% capture this_tag %}{{ tags_list[item] | strip_newlines }}{% endcapture %}
      <li>
        <a href="#{{ this_tag }}">
          <span><i class="fa fa-tag" aria-hidden="true">&nbsp;</i>{{ this_tag }}</span>
          <span class="count">{{ site.tags[this_tag].size }}</span>
        </a>
      </li>
    {% endunless %}
    {% endfor %}
  </ul>
</div>

<div id="full-tags-list">
{%- for tag in tags_list -%}
    <h2 id="{{- tag -}}" class="linked-section">
        <i class="fa fa-tag" aria-hidden="true"></i>
        &nbsp;{{- tag -}}&nbsp;({{site.tags[tag].size}})
    </h2>
    <div class="post-list">
        {%- for post in site.tags[tag] -%}
            <div class="tag-entry">
                {% if post.link %}
                <a href="{{ post.link }}">
                {% else %}
                <a href="{{- site.baseurl -}}{{- post.url -}}">
                {% endif %}
                {{- post.title -}}</a>
                <div class="entry-date">
                    <time datetime="{{- post.date | date_to_xmlschema -}}">{{- post.date | date: "%B %d, %Y" -}}</time>
                </div>
            </div>
        {%- endfor -%}
    </div>
{%- endfor -%}
</div>
